# Auto detect text files and perform LF normalization
* text=auto

# Don't calculate the C source when determining project languages
Sources/OpenGL_Linux/** linguist-vendored
Sources/OpenGL_Windows/** linguist-vendored
